[submodule "primrec-frontend"]
	path = primrec-frontend
	url = https://github.com/FormallyVerifiedPrimrec/primrec-frontend.git
[submodule "primrec-backend"]
	path = primrec-backend
	url = https://github.com/FormallyVerifiedPrimrec/primrec-backend.git
